/*Font Variables (Relative to Handheld Devices) listed by section*/
$mainBodyFont:	Arial, Helvetica, sans-serif;

$navBarFont: "CH-Sans-Regular", "CH-Sans", Arial, sans-serif;

$article-p: "Geneva", Tahoma, Verdana, Sans-serif;


